@model UserViewModel

@{
    ViewBag.Title = "User Registration";
    var sn = 0;
}

<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/jquery-validate/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


@{ Layout = ViewBag.Layout; }


<link href="~/css/FancyTable.css" rel="stylesheet" />
<!-- Breadcubs Area Start Here -->
<div class="breadcrumbs-area">
    <h3>User</h3>
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Create User Form</li>
    </ul>
</div>
<!-- Admit Form Area Start Here -->
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>Create User</h3>
            </div>
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                   aria-expanded="false">...</a>

                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" asp-action="index" asp-controller="student" data-ajax="true"
                           data-ajax-method="GET" data-ajax-mode="replace"
                           data-ajax-update="#main-div" >
                        <i class="fas fa-times text-orange-red"></i>Close
                    </a>
                    @*<a class="dropdown-item" href="#">
                            <i class="fas fa-cogs text-dark-pastel-green"></i>Edit
                        </a>*@
                    <a class="dropdown-item">
                        <i class="fas fa-redo-alt text-orange-peel"></i>Refresh
                    </a>
                </div>
            </div>
        </div>
        <form method="post" asp-area="admin" asp-controller="user" asp-action="create" >
            <div class="row">
                <div class="col-md-6">

                    <div class="col-md-10 form-group">
                        <label>Email *</label>
                        <input type="text" placeholder="Enter your email " asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>


                    <div class="col-md-10 form-group">
                        <label>Password *</label>
                        <input type="password" placeholder="Enter password" asp-for="Password" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="col-md-10 form-group">
                        <label>Confirm Password *</label>
                        <input type="password" placeholder="Enter password again" asp-for="ConfirmPassword" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>


                </div>


                <div>
                    <div class="col-md-6">


                        <div>
                            <table class="table table-bordered table-hover" id="fancytable">
                                <thead>
                                <th>
                                    CheckBox
                                </th>

                                <th>Roles</th>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.RoleList)
                                    {
                                        <tr>
                                            <td class="col-sm-1">
                                                <div class="col-sm-3">

                                                    @Html.CheckBoxFor(model => model.RoleCheckList[sn].IsCheck)
                                                </div>

                                            </td>
                                            <td class="col-sm-6">
                                                <div class="col-sm-3">

                                                    <label>@item.Name</label>
                                                </div>
                                                <input asp-for="RoleCheckList[sn].RoleId" hidden value="@item.Id">
                                                <input asp-for="RoleCheckList[sn].RoleName" hidden value="@item.Name">

                                            </td>

                                        </tr>
                                        sn++;
                                    }





                                </tbody>
                                <span asp-validation-for="RoleCheckList" class="text-danger"></span>


                            </table>
                        </div>
                    </div>
                </div>


                <div>
                    <span asp-validation-summary></span>
                </div>
                <div class="col-12 form-group mg-t-8">
                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                    <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>

                    <a asp-controller="UserRole" asp-action="Index" data-ajax="true"
                           data-ajax-method="GET" data-ajax-mode="replace"
                           data-ajax-update="#main-div"  class="btn-fill-lg bg-blue-dark btn-hover-yellow">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>

@if (ViewBag.LoginError != null)
{
    <script>


    iziToast.error({
        title: '@ViewBag.LoginError',
        message: 'Username and password donot match',
    });
    </script>
}

