
@model StudentViewModel


@{
    ViewBag.Title = "Create Student";
}
<form enctype="multipart/form-data" asp-controller="student" asp-action="create" method="post" class="mt-3">
    <div class="panel panel-default">
        <div class="panel-heading text-center pb-1" style="margin-bottom:9px"><h1>Create Student</h1></div>


        <div class="panel-body">

            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group row">
                        <label asp-for="FirstName" class="col-sm-3 col-form-label ast"></label>
                        <div class="col-sm-9">
                            <input asp-for="FirstName" class="form-control" placeholder="First Name" autocomplete="off" required="required">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label asp-for="MiddleName" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="MiddleName" class="form-control" placeholder="Middle Name">
                            <span asp-validation-for="MiddleName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="LastName" class="col-sm-3 col-form-label ast" autocomplete="off" required="required"></label>
                        <div class="col-sm-9">
                            <input asp-for="LastName" class="form-control" placeholder="Last Name" autocomplete="off" required="required">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label asp-for="RollNo" class="col-sm-3 col-form-label ast"></label>
                        <div class="col-sm-9">
                            <input asp-for="RollNo" class="form-control" placeholder="Roll No" autocomplete="off" required="required">
                            <span asp-validation-for="RollNo" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Address" class="col-sm-3 col-form-label ast"></label>
                        <div class="col-sm-9">
                            <input asp-for="Address" class="form-control" placeholder="Address" autocomplete="off" required="required">
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="col-sm-5">
                    <div class="form-group row">
                        <label asp-for="Class" class="col-sm-3 col-form-label ast"></label>

                        <div class="col-sm-9">
                            <select name="Class" class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                            <span asp-validation-for="Class" class="text-danger"></span>

                        </div>

                    </div>

                    <div class="form-group row">
                        <label asp-for="MobileNumber" class="col-sm-3 col-form-label  ast" autocomplete="off" required="required">Contact</label>
                        <div class="col-sm-9">

                            <input asp-for="MobileNumber" class="form-control" placeholder="Mobile Number">

                            @*<span>
                                    <asp:RangeValidator ID="MobileNumber" runat="server"
                                                        ErrorMessage="Mobile number required" ControlToValidate="TextBox4" MaximumValue="100" MinimumValue="10" Type="Integer"></asp:RangeValidator>
                                </span>
                                @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })*@
                            <span asp-validation-for="MobileNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="BirthDate" class="col-sm-3 col-form-label ast"></label>
                        <div class="col-sm-9">

                            <input type="date" asp-for="BirthDate" class="form-control" placeholder="Birth Date" autocomplete="off" required="required">


                            <span asp-validation-for="BirthDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="BloodGroup" class="col-sm-3 col-form-label ast">BloodG</label>
                        <div class="col-sm-9">
                            <select asp-for="BloodGroup" class="custom-select mr-sm-3"
                                    asp-items="Html.GetEnumSelectList<BloodGroupEnum>()"></select>

                        </div>
                        <span asp-validation-for="BloodGroup" class="text-danger"></span>
                    </div>


                    <div class="form-group row" id="dvGender">
                        <label asp-for="Gender" class="col-sm-3 col-form-label ast"></label>
                        <div class="col-sm-9">
                            <select asp-for="Gender" class="custom-select mr-sm-3"
                                    asp-items="Html.GetEnumSelectList<GenderEnum>()">
                            </select>
                        </div>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                        

                    <div class="form-group row">
                        <label asp-for="PhotoInput" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <div class="custom-file">
                                <input asp-for="PhotoInput" type="file" accept="image/*" class="form-control custom-file-input">
                                <label class="custom-file-label col-form-label">Choose a file...</label>
                            </div>
                        </div>
                    </div>



                </div>
            </div>


        </div>



    </div>


    @* <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Employee List</label>

                    <div class="col-sm-9">
                        <select name="Class" class="form-control">
                            <option>Id Name Email Department</option>

                            @foreach (var item in ViewBag.list)
                            {

                                <option value="1">
                                    @item.Id @item.Name @item.Email @item.Department
                                </option>



                            }

                        </select>
        
                    </div>

                </div>*@





    @*Student Academic part*@
    
        <div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            <label asp-for="StudentAcademicList[0].BoardId" class="ast">
                                BoardName
                            </label>
                        </th>
                        <th>
                            <label asp-for="StudentAcademicList[0].College" class="ast"></label>
                        </th>
                        <th>


                            <label asp-for="StudentAcademicList[0].Percentage" class="ast"></label>
                        </th>
                        <th>


                            <label asp-for="StudentAcademicList[0].Division" class="ast"></label>
                        </th>
                    </tr>

                </thead>

                <tbody>

                    @for (int i = 0; i < 3; i++)
                    {

                        <tr>
                            <td>
                                <select asp-for="StudentAcademicList[i].BoardId" class="custom-select" asp-items="Html.GetEnumSelectList<BoardEnum>()"></select>

                            </td>
                            <td>
                                @*@Html.TextBoxFor(x => x.StudentAcademicList[i].College, new { htmlAttributes = new { @class = "form-control " } })*@
                                <input asp-for="StudentAcademicList[i].College" class="form-control" placeholder="College / School">
                            </td>
                            <td>
                                @*  @Html.TextBoxFor(x => x.StudentAcademicList[i].Percentage, new { htmlAttributes = new { @class = "form-control " } })*@

                                <input asp-for="StudentAcademicList[i].Percentage" class="form-control" placeholder="Enter your percentage" type="number">
                            </td>
                            <td>

                                @*@Html.EditorFor(x => x.StudentAcademicList[i].Division, new { htmlAttributes = new { @class = "form-control " } })*@
                                @*<input asp-for="StudentAcademicList[i].Division" class="form-control" placeholder="Enter your Division">*@

                                <div>

                                    <select asp-for="StudentAcademicList[i].Division" class="form-control">
                                        <option value="Distinction">Distinction</option>
                                        <option value="1st division">1st division</option>
                                        <option value="2nd division">2nd division</option>
                                        <option value="3rd division">3rd division</option>

                                    </select>

                                </div>
                            </td>
                        </tr>

                    }

                    @*
                        <tr>
                            <td>
                                <select class="custom-select" asp-items="Html.GetEnumSelectList<BoardEnum>()"></select>

                            </td>
                            <td> <input asp-for="College"  class="form-control" placeholder="College / School"></td>
                            <td><input asp-for="Percentage" class="form-control" placeholder="Enter your percentage"></td>
                            <td><input asp-for="Division"class="form-control" placeholder="Enter your Division"></td>
                        </tr>

                        <tr>
                            <td>
                                <select class="custom-select" asp-items="Html.GetEnumSelectList<BoardEnum>()"></select>

                            </td>
                            <td> <input asp-for="College" class="form-control" placeholder="College / School"></td>
                            <td><input asp-for="Percentage" class="form-control" placeholder="Enter your percentage"></td>
                            <td><input  asp-for="Division" class="form-control" placeholder="Enter your Division"></td>
                        </tr>*@
                </tbody>



            </table>
        </div>
   




    <input class="btn btn-primary" type="submit">

    <a asp-controller="Student" asp-action="index" class="btn btn-danger">Back</a>
</form>


<script>
    $(document).ready(function () {

        $('#RollNo').on("change", function () {
            
            var rollNo = $(this).val();
            var rollNo1 = $("#RollNo").val();
            if (rollNo < 0 || rollNo > 100) {
                alert("Roll Number must be between 0 and 100");
            }
        });
        $('.custom-file-input').on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next('.custom-file-label').html(fileName);
        });
    });
</script>

