@model StudentViewModel;

@{
    ViewBag.Title = "Delete Student";
}



@* Student Details Area Start Here *@
<form asp-controller="student" asp-action="delete" method="post" class="mt-3">
    <input asp-for="Id" hidden />
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>About Me</h3>
                </div>
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button"
                       data-toggle="dropdown" aria-expanded="false">...</a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#" data-ajax="true"
                           data-ajax-method="GET" data-ajax-mode="replace"
                           data-ajax-update="#main-div" ><i class="fas fa-times text-orange-red"></i>Close</a>
                        <a class="dropdown-item" href="#" data-ajax="true"
                           data-ajax-method="GET" data-ajax-mode="replace"
                           data-ajax-update="#main-div" ><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                        <a class="dropdown-item" href="#" data-ajax="true"
                           data-ajax-method="GET" data-ajax-mode="replace"
                           data-ajax-update="#main-div" ><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                    </div>
                </div>
            </div>
            <div class="single-info-details">
                <div class="item-img">
                    <img src="@Model.PhotoPath" alt="student" width="280" height="330">
                </div>
                <div class="item-content">
                    <div class="header-inline item-header">
                        <h3 class="text-dark-medium font-medium">@Model.FirstName @Model.MiddleName @Model.LastName</h3>
                        <div class="header-elements">
                            <ul>
                                <li><a href="#" data-ajax="true"
                           data-ajax-method="GET" data-ajax-mode="replace"
                           data-ajax-update="#main-div" ><i class="far fa-edit"></i></a></li>
                                <li><a href="#" data-ajax="true"
                           data-ajax-method="GET" data-ajax-mode="replace"
                           data-ajax-update="#main-div" ><i class="fas fa-print"></i></a></li>
                                <li><a href="#" data-ajax="true"
                           data-ajax-method="GET" data-ajax-mode="replace"
                           data-ajax-update="#main-div" ><i class="fas fa-download"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <p>
                        Aliquam erat volutpat. Curabiene natis massa sedde lacu stiquen sodale
                        word moun taiery.Aliquam erat volutpaturabiene natis massa sedde  sodale
                        word moun taiery.
                    </p>
                    <div class="info-table table-responsive">
                        <table class="table text-nowrap">
                            <tbody>
                                <tr>
                                    <td>Name:</td>
                                    <td class="font-medium text-dark-medium">@Model.FirstName @Model.MiddleName @Model.LastName</td>
                                </tr>
                                <tr>
                                    <td>Gender:</td>
                                    <td class="font-medium text-dark-medium">@Model.Gender</td>
                                </tr>

                                <tr>
                                    <td>Date Of Birth:</td>
                                    <td class="font-medium text-dark-medium">@Model.BirthDate</td>
                                </tr>
                                <tr>
                                    <td>Class:</td>
                                    <td class="font-medium text-dark-medium">@Model.Class</td>
                                </tr>

                                <tr>
                                    <td>Roll:</td>
                                    <td class="font-medium text-dark-medium">@Model.RollNo</td>
                                </tr>
                                <tr>
                                    <td>Address:</td>
                                    <td class="font-medium text-dark-medium">@Model.Address</td>
                                </tr>
                                <tr>
                                    <td>Phone:</td>
                                    <td class="font-medium text-dark-medium">@Model.MobileNumber</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>


        <div class="col-12 form-group mg-t-8">
            <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Delete</button>
            <button asp-controller="Student" asp-action="Index" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Back</button>
        </div>
</form>
</div>
